.navMenu {
    display: flex
}

.linkActive {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: rgb(112, 45, 171);
    text-transform: uppercase;
}

.link {
    font-weight: 700;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(24, 117, 98);
}