.authView {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: baseline;
}

.form {
    padding: 0 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 8px rgb(30 88 88 / 20%);
}

.label {
    margin-bottom: 20px;
    font-weight: 600;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 400px;
    border: 2px solid rgb(195, 234, 249);
    background-color: rgba(192, 249, 247, 0.423)
}

.input:active,
.input:focus {
    outline: none;
    border: 2px solid rgb(188, 179, 245);
    background-color: azure
}

.button {
    width: 120px;
    font-size: 14px;
    margin: 10px 145px;
    padding: 15px;
    border: 2px solid rgb(188, 179, 245);
    border-radius: 50%;
    color: black;
    background-color: rgb(172, 160, 248);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
}

.button:hover,
.button:focus {
    opacity: 1;
    color: rgb(121, 19, 216);
    transform: scale(1.1);
}