.logout {
    display: flex;
}

.message {
    font-weight: 600;
    color: rgb(24, 117, 98);
    font-size: 18px;
}

.Btn {
    display: block;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    margin-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    border-radius: 3px;
    color: green;
    background-color: transparent;
    text-transform: uppercase;
    transition: transform 200ms linear, background-color 200ms linear, color 200ms linear;
}